<!DOCTYPE html>
<html lang="en" data-theme="corporate">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Auth tester eapp" />
    <title>Auth tester app</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <div id="root" class="root">
        <h1>Auth Test Application</h1>

        .logged_in
        You are logged in

        .not_logged_in
        You are not logged in

        .links
        <div>
            <h2>Here are some links</h2>
            <ul>
                <li><a href="/public" hx-boost="true" hx-target="#content">Public Data</a></li>
                <li><a href="/protected" hx-boost="true" hx-target="#content">Protected Data</a></li>
            </ul>
        </div>

        <div id="content">
            .content
            Content Goes in here
            .end_content
        </div>
    </div>
</body>

.login
<h2>You need to be logged in to see this</h2>
<a
    href="[{auth_url}s]?response_type=code?client_id=[{client_id}s]?redirect_uri=[[redirect_uri]s]?scope=[{scope}s]?state=[{state}s]">
    Click Here to Login
</a>
